@import "customVariables";
@import "../bootstrap-sass-3.3.6/assets/stylesheets/bootstrap";
@import "custombuttons";

// $font-stack:    Helvetica, sans-serif;
// $font-size-base:18px;
// $primary-color: #333;

$slick-arrow-color: fff;

body {
  // font: $font-stack;
  // color: $primary-color;
}

body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
   @include transform(scale($scale));
}

@mixin transition($property, $duration, $timing){
  -webkit-transition: $property $duration $timing;
     -moz-transition: $property $duration $timing;
      -ms-transition: $property $duration $timing;
       -o-transition: $property $duration $timing;
          transition: $property $duration $timing;
}

$browser-context: 14;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    // background: #18181a;
    padding-left: 0;
}


#sidebar-wrapper {
    z-index: 1000;
    left: 225px;
    width: 60px;
    height: 100%;
    margin-left: -225px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(4, 38, 24, 0.95);
    @include transition(all, 0.5s, ease)
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#page-content-wrapper {
    width: 100%;
}

#wrapper.toggled{

  #sidebar-wrapper {
    width: 225px;
  }

  #page-content-wrapper .hamburger{
    -webkit-transform: translateX(170px);
    transform: translateX(170px);
  }

  .navigation .link{
  margin: 0 0 0 20px;
  }

  .section--third{
  padding-left: 225px;
  }

  .section--fourth{
  padding-left: 225px;
  }

  .section--second .content{
  padding: 0 0 0 225px;
  }

  footer,
  .form-search{
    transition-delay: 600ms;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
  }
}

#wrapper footer,
#wrapper .form-search{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#wrapper .navigation {
  left: -14px;
}


/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.dtable{
    display: table;
}

.dtrow {
    display: table-row;
}

.dtcell {
    display: table-cell;
    vertical-align: middle;
}

.dummy_table {
  position: relative;
  min-width: 100%;
  height: 100%;
  @include transition(all, 0.4s, ease)
}
.dummy_table .td_dummy_nav {
  height: 100%;
}
.dummy_table .dummy_header {
  height: 257px;
  @include transition(all, 0.6s, ease)
}
.dummy_table .dummy_nav {
  height: 250px;
  @include transition(all, 0.6s, ease)
}
.dummy_table .dummy_footer {
  height: 228px;
  @include transition(all, 0.6s, ease)
}

.navigation{
  position: absolute;
  top: 40%;
  margin: -94px 0;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  width: 100%;

  .link {
    margin: 0 0 0 11px;
    display: block;
    padding: 22px;
    position: relative;
    z-index: 1;
    height: 32px;
    overflow: hidden;
    color: #85a190;

    svg{
      left: 20px;
      top: 5%;
      position: absolute;
      fill:#dccaa0;
    }
    // svg:hover{fill:white}
  }

  .link:hover {
    color: #fff;
    svg{
      fill:white;
    }
  }

  span {
    width: 100%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    position: absolute;
    left: 59px;
    top: 10%;
    min-height: 32px;
  }

  .form-control{
    background-color: #000;
    opacity: .2;
    border: none;
    padding-left: 30px;
    padding-right: 0;

  }

  .icon {
    width: 20px;
    height: 15px;
    position: absolute;
    left: 20px;
    top: 50%;
    margin: -10px 0;
  }



  .form-search{
    svg{
      position: absolute;
      left: 5px;
      top: 7px;
      fill:#dccaa0;
    }
  }
}




/* =============================================================================
   Btn
   ========================================================================== */
.btn {
  display: block;
  height: 45px;
}
.btn-call{
    color: #fff;
    background-color: rgba(220, 202, 160, 0.7);
    border-color: #dccaa0;
    width: 150%;
    font-size: 1.75em;
    font-weight: 300;
    line-height: 1em;
}

/* =============================================================================
   Icon
   ========================================================================== */
.icon {
  display: inline-block;
  width: 20px;
  height: 17px;
  background: url("../images/sprite.png") no-repeat 0 0;
}


.icon_{
  display: inline-block;
  width: 75px;
  height: 82px;
  background: url("../images/sprite_.png") no-repeat 0 0;
}


.icon_.icon_glass{
  background-position: 0px 0px;
}
.icon_.icon_lighting{
  background-position: -90px 0px;
  width: 55px;
}
.icon_.icon_territory{
  background-position: -439px 0px;
}
.icon_.icon_playgrounds{
  background-position: -515px 0px;
}
.icon_.icon_ventilated{
  background-position: -160px 0px;
}
.icon_.icon_security{
  background-position: -344px 0px;
  width: 83px;
}
.icon_.icon_exploitation{
  background-position: -594px 0px;
}
.icon_.icon_infrastructure{
  background-position: -250px 0px;
}


.navigation{
    .icon.icon_concept {
        background-position: 0 -2px;
    }
    .icon.icon_placement {
        background-position: -25px 0px;
        width: 19px;
        height: 20px;
    }
    .icon.icon_second_placement {
        background-position: -49px 0px;
        width: 19px;
        height: 19px;
    }
    .icon.icon_repairs {
        background-position: -73px 0px;
        width: 19px;
        height: 20px;
    }
    .icon.icon_our_business {
        background-position: -97px 0px;
        width: 23px;
        height: 20px;
    }
    .icon.icon_contacts {
        background-position: -125px -4px;
        width: 19px;
        height: 12px;
    }
    .link:hover .icon.icon_placement, .icon.icon_placement:hover {
        background-position: -25px -20px;
    }
    .link:hover .icon.icon_second_placement, .icon.icon_second_placement:hover {
        background-position: -49px -19px;
    }
    .link:hover .icon.icon_repairs, .icon.icon_repairs:hover {
        background-position: -73px -20px;
    }
    .link:hover .icon.icon_our_business, .icon.icon_our_business:hover {
        background-position: -97px -20px;
    }
    .link:hover .icon.icon_contacts, .icon.icon_contacts:hover {
        background-position: -125px -16px;
    }
}

.social{
    .icon.icon_soc_vk{
        background-position: -29px -50px;
        width: 13px;
        height: 16px;
    }
    .icon.icon_soc_fb{
        background-position: -58px -49px;
        width: 9px;
        height: 18px;
    }
    .icon.icon_soc_youtube{
        background-position: -84px -49px;
        width: 15px;
        height: 19px;
    }
    .icon.icon_soc_inst{
        background-position: -114px -49px;
        width: 18px;
        height: 19px;
    }

    .link:hover .icon.icon_soc_vk, .icon.icon_soc_vk:hover {
      background-position: -29px -67px;
    }
    .link:hover .icon.icon_soc_fb, .icon.icon_soc_fb:hover {
      background-position: -58px -68px;
    }
    .link:hover .icon.icon_soc_youtube, .icon.icon_soc_youtube:hover {
      background-position: -84px -68px;
    }
    .link:hover .icon.icon_soc_inst, .icon.icon_soc_inst:hover {
      background-position: -114px -68px;
    }
}


.slider .icon {
    width: 70px;
    height: 50px;
    position: absolute;
    left: 38%;
    top: 44%;
    margin: -10px 0;
}

.icon.icon_video{
  background-position: 0px -217px;
  cursor: pointer;
}

.icon.icon_video:hover{
  background-position: 0px -268px;
}

.slide .icon{
  margin-top: 10px;
  width: 40px;
  height: 40px;
  z-index: 98;
  display: block;
  position: absolute;
}

.slide .icon.icon_day{
  background-position: -177px -228px;
  right: 13%;
}
.day .slide .icon.icon_day{
  background-position: -177px -279px;
  // z-index: 98;
}

.slide .icon.icon_night{
  background-position: -234px -228px;
  left: 13%;
}
.night .slide .icon.icon_night{
  background-position: -234px -279px;
  // z-index: 98;
}


.scroll_down_holder {
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 0 35px;
  width: 140px;
  cursor: pointer;
  bottom: -4px;
  position: absolute;
  text-align: center;
  left: 50%;
  z-index: 10;
}

.scroll_down {
    background-position: -122px -96px;
    height: 61px;
    width: 104px;
    margin-top: 13px;
}




/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;
  z-index: 9999;
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  background: transparent;
  border: none;
  webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;

}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 6px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #2a483f;
  // opacity: .5;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .is-on{
  background-color: #fff;
}

.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

/*-------------------------------*/
/*            Section            */
/*-------------------------------*/

.header {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  height: 214px;
  padding: 60px 0 0;
  text-align: center;
  width: 100%;
  overflow: hidden;

  .img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 5px;
  }
}

.input-group input#searchInput::-webkit-input-placeholder {
   color: #85a190;
}

.input-group input#searchInput:-moz-placeholder { /* Firefox 18- */
   color: #85a190;
}

.input-group input#searchInput::-moz-placeholder {  /* Firefox 19+ */
   color: #85a190;
}

.input-group input#searchInput:-ms-input-placeholder {
   color: #85a190;
}

.content {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.section--first {
  background-size: cover;
  background-position: center bottom;
  padding-bottom: 0;
  text-align: center;
  position: relative;

  .content {
    min-height: 911px;
  }
}


.section--second {
    margin: 0;
    text-align: center;
    color: #fff;

    .content.night{
      background: url("../images/bg/night.jpg") no-repeat right bottom;
    }
    .content.day{
      background: url("../images/bg/day.jpg") no-repeat right bottom;
    }


    .content {
      padding: 0px 100px 0 100px;
      @include transition(background, 1.8s, ease);

       .toggle{
          margin:0 auto;
          height:64px;
          width:190px;
          margin-top:20px
      }

      h2{
        z-index: 3;
        width: 100%;
        font-weight: 300;
        font-size: 5em;
        text-transform:uppercase;
      }

      .building{

        position: relative;

        .button {
          position: absolute;
          left: 73%;
          top: 0%;
          z-index: 10;
        }

        .quality{
          position: absolute;
          z-index: 2;
          color: #fff;
          text-align: left;
          font-size: 1.4em;
          font-weight: 300;
          -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;

          span{
            display: inline-block;
            vertical-align: top;
            margin: 6px;
          }
        }

        .quality:hover{
           opacity: 0.5;
            cursor: pointer;
        }

        .quality.our-side{
          top: 20%;
          left: 10%;
        }

        .quality.our-lighting{
          top: 35%;
          left: 18%;
        }

        .quality.our-territory{
          top: 50%;
          left: 19%;
        }

        .quality.our-playgrounds{
          top: 70%;
          left: 14%;
        }

        .quality.our-ventilated{
          top: 20%;
          left: 69%;
          span{
            margin-top: 20px;
          }
        }

        .quality.our-security{
          top: 35%;
          left: 71%;
          span{
            margin-top: 20px;
          }

        }

        .quality.our-exploitation{
          top: 49%;
          left: 73%;
        }

        .quality.our-infrastructure{
          top: 61%;
          left: 74%;
          span{
            margin-top: 20px;
          }

        }

        .house {
          overflow: hidden;
          position: relative;
          min-height: 920px;

          .show {z-index:5;}

          img {
            position:absolute;
            -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;
          }
        }
      }
    }
}

.section--third{
  margin: 0;
  color: #ddddde;
  background: #191d24;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-size: cover;
  background-position: center bottom;
  background-image: url(../images/bg/bd-section-third.jpg);
  padding-left: 100px;
  position: relative;

  h3{
    // position: absolute;
    // left: 0;
    // top: 20px;
    z-index: 3;
    width: 100%;
    font-weight: 300;
    font-size: 3em;
    text-transform:uppercase;
    color: #3b5549;
    margin: 40px 0;
  }

  .content{
    z-index: 11;
  }
  .inside-bg{
    background-color: rgba(7, 39, 26, 0.5);
    height: 52%;
    width: 100%;
    right: 0px;
    top: 48%;
    z-index: 10;
    position: absolute;
    border-bottom: 2px solid white;
  }
  .slider {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 116px;
      top:20px
  }

  .slick-slide {
    margin: 0px 20px;
    border: 3px #fff;
    position: relative;

    img {
      width: 100%;
      border: 3px solid #fff;
      border-radius: 3px;
    }
  }

  .slick-prev:before,
  .slick-next:before {
      // color: black;
  }


  .about{
    color: white;
    font-weight: 300;
    .col-xs-1{
      width: 11.33333%;
    }
    .col-xs-6{
      width: 40%;
    }
  }

  .row{
    margin-bottom: 30px;
  }

  img{
    background-color: rgba(255, 255, 255, 0.18);
    border: 3px solid rgba(255, 255, 255, 0.18);
    border-radius: 30px;
  }

  p{
    text-align: left;
    font-weight: 300;
    font-size: 1.9em;
    line-height: 1.1em;
    padding-top: 57px;
    padding-bottom: 55px;
  }
  h4{
    font-size: 2em;
    text-align: left;
  }
}

.section--fourth{
  margin: 0;
  color: #ddddde;
  background-image:url(../images/bg/call-back.jpg);
  background-repeat: repeat; /* Повторяем фон по горизонтали */
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding-left: 100px;
  position: relative;

  .content {
    min-height: 274px;

    h4{
      font-weight: 300;
      font-size: 2.3em;
      text-transform:uppercase;
      color: #fff;
      margin: 35px 0 35px 0;
    }
    p{
      font-size: 1.15em;
      color: #dadada;
      margin-bottom: 40px;
    }
    .input-group{
      .form-control{
        border-radius: 6px;
      }
    }
    .form-control{
      background-color: rgba(255,255,255,0.1);
      padding-left: 15px;
      padding-right: 0;
      border: 1px solid #dccaa0;
      height: 45px;
      width: 170%;
      color: #fff;
      font-size: 1.15em;
    }
    .call-back{
      .col-xs-3:nth-child(3){
        padding-left: 0px;
      }
      .col-xs-3{
        width: 23%;
      }
      svg{
        fill:white;
        position: absolute;
        left: 12%;
        top: 27%;
      }
      .btn:hover svg, .btn:focus svg , .btn.focus svg{
        fill:#333;
      }
    }
  }
}

.section--intro{
    height: 100%;
    background: #f2f2f2;
    color: #333;
    width: 100%;
    overflow: hidden;
    // padding: 0 0 0 225px;
    background-image: url(../images/bg/bg-building.jpg);


    .container-fluid{
      padding: 0;
    }

    .container{
      padding-left: 120px;
    }

    .blur{
      position: absolute;
      // display: none;
      width: 100%;
      height: 146%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(250,250,250,.8);
      background-image: url(../images/bg/Gem12.png);
      background-size:cover;
      background-repeat: no-repeat;
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      filter: blur(5px);
    }
    h1{
      position: relative;
      text-align: center;
      font-size: em(45);
      font-weight: lighter;
      padding: 20px;
      color: #3b5549;
      text-transform: uppercase;
    }

    .flexslider{
      margin: 0 70px;
      border: 3px solid #fff;
      border-radius: 0px;
    }
    #carousel.flexslider{
      border: none;
      margin: 20px 120px;
    }
    .bg-info{
      position: absolute;
      width: 100%;
      height: 50%;
      top:0;

    }
    .info{
      position: relative;
      color: white;
      padding: 40px 0px 40px 0px;
      background-color: rgba(0, 0, 0, 0.5);
      font-weight: 400;
      p{
        font-size: em(25);
        margin-bottom: 0;
      }
      span{
        font-weight: 300;
      }
      .text{
        margin-top: 50px;
        line-height: 20px;
        font-size: em(16);
        font-weight: 400;
      }
    }
}

.section--plans{
    width: 100%;
    height: 100%;
    overflow: hidden;
    // padding: 0 0 0 225px;
    background-color: white;
    font-weight: 300;
    text-transform: uppercase;
    color: #3b5549;

    .container{
      width: 1000px;
      padding: 0;
    }

    .head-plans{
      padding-left: 6%;
    }

    .section{
      width: 170px;
    }
    .floor{
      width: 130px
    }
    hr{
      color: #ecd9b0;
    }
    .align-right{
      text-align: right;
    }

    select {

      // height: 26px;
      border: none;
      // border-radius: 10px;
      -webkit-appearance: none;
      background: url(../images/sprite_kadorr/plan-arrow-d.svg) no-repeat right center;
      background-size: 22px 12px;
      line-height: 1em;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
      font-size: em(30);
      text-transform: uppercase;
      font-weight: 300;
      color: #3b5549;
      // margin-top: 20px;
    }

    select::-ms-expand {
      display: none;
      // border:none;
    }

    h2{
      display: inline-block;
      font-weight: 300;


    }
    span{
       font-size: em(30);
    }

    select{
      // float: right;
      margin: 20px 80px 16px 0px;
      vertical-align: middle;
    }
    select:last-of-type{
      margin-left: 10px;
      margin-right: 10px;
    }
    svg{
      fill:#d4bd8c;
      width: 22px;
      height: 18px;
      display: inline-block;
      vertical-align: middle;
    }
    svg:nth-child(2){
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
}

.section_commerc{
  background: url(../images/bg/bg_commerc.jpg) no-repeat;
  min-height: 197px;
  p{
    width: 82%;
    text-align: center;
    color: white;
    padding: 40px 0 30px;
    font-size: em(18);
    font-weight: 400;
    margin-bottom: 0;
  }
  .input-group{
    margin-bottom: 26px;
  }
  .btn{
    // width: 50%;
    height: 51px;
    background-color: rgba(235, 219, 184, 0.9);
    border: 1px solid white;
    color: #3b5549;
    font-size: em(25);
    padding: 6px 26px 6px 28px;
    // font-weight: 400;
  }
  svg{
    fill: #3b5549;
    vertical-align: middle;
  }
}

.section--realty{
    color: #fff6d9;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('../images/bg/bg-realty.jpg');

    .filter-top{
      background-color: rgba(7, 39, 26, 0.7);
    }

    .filter--middel{
      background-color: rgba(7, 39, 26, 0.8);

      .filter {
        margin: 5px 0 5px 0;
        float: left;
        padding-left: 0;

        li{
          margin: 0;
          float: left;
          list-style: none;
          display: inline-block;
          // width: 120%;
          a{
            display: block;
            padding: 15px 18px;
            // margin-left: 5px;
            text-transform: uppercase;
            font-size: em(16);
            line-height: 30px;
            text-decoration: none;

            @include scale(1);

            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;

            &:active,
            &.active {
                @include scale(1.2);
                color: white;
              }
            &:focus,
              &.focus {
               color: white;
               @include scale(1.2);
            }

          }
          a:hover{
            color: white;
            // font-size: 22px;
            // font-weight: 300;
          }

        }
      }
    }
    .filter--content{
      padding: 40px 0;

      .img-responsive{
        max-width: 140%;
      }

      .col-xs-4{
        width: 32%;
      }
      svg{
        fill: #656565;
        height: 28px;
        display: inline-block;
        width: 50px;
        vertical-align: middle;
      }
      .show_map svg{
          margin-left: 10%;
      }
      .img{
        position: relative;
        overflow: hidden;
        border: 3px solid white;
        max-height: 274px;
      }
      .img:hover .over-proper{
        max-height: 80%;
      }
      .over-proper{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        bottom: 0;
        left: 0px;
        max-height: 0;
        overflow: hidden;
        text-align: center;
        width: 100%;
        // opacity: 0;
        -webkit-transition: max-height 0.4s ease-in-out;
        -moz-transition: max-height 0.4s ease-in-out;
        -o-transition: max-height 0.4s ease-in-out;
        -ms-transition: max-height 0.4s ease-in-out;
        transition: max-height 0.4s ease-in-out;
        color: #3b5549;

        a{
          color: #3b5549;
        }
        p{
          display: inline-block;
          vertical-align: middle;
          margin-bottom: 0;
          line-height: em(16);
        }
        .about{
          text-decoration: underline;
          margin: 12% 0 9% 5%;
          font-size: em(24);
        }
        .show_map{
          font-size: em(16);
          p{
            border-bottom: 1px solid #3b5549;
          }
        }
        .status{
          margin-bottom: 9%;
          cursor: default;
          p{
            line-height: em(20);
          }
        }
      }
      .info-object{
        background-color: #f5f5f2;
        padding: 15px;
        margin-bottom: 40px;
        p{
          line-height: em(20);
          color: #3b5549;
          margin-bottom: 0;
        }
        .name{
          font-size: 16px;
          font-weight: 700;
        }
        .adress{
          font-size: 14px;
          font-weight: 300;
          span{
            font-weight: 400;
          }
        }
      }

    }

    h1{
      font-size: em(50);
      font-weight: 300;
      line-height: 36px;
      text-transform: uppercase;
      margin-top: 47px;
      margin-bottom: 23px;
    }


   .layout-slider{
      margin-top: 58px;

      span{
        vertical-align: middle;
      }
      span:nth-child(1){
        color: #fff6d9;
        font-size: 14px;
        font-weight: 400;
        // line-height: 36px;
        text-transform: uppercase;
      }
      svg{
        fill:#fff6d9;
        height: 27px;
        display: inline-block;
        width: 50px;
      }

    }
}




.section_map{
  margin-top: 2px;
}

footer {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  @include transition(all, 0.2s, ease);
  // -webkit-transition: all 200ms;
  // -moz-transition: all 200ms;
  // -o-transition: all 200ms;
  // -ms-transition: all 200ms;
  // transition: all 200ms;

  .phone {
      font-size: 14px;
      line-height: 22px;
      color: #dccaa0;
      margin: 12px 0 21px;
      text-transform: uppercase;
      span{
          font-size: 18px;
          font-weight: 300;
      }
  }

  .social {
    margin: 0 0 25px;
    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -10px;
    }
    .social_links {
      display: inline-block;
      vertical-align: top;
    }
    .link {
      float: left;
      margin: 0 0 0 5px;
      width: 26px;
      height: 26px;
      // background: #474747;
      position: relative;
    }
  }

  .lang {
    text-transform: uppercase;
    color: #dccaa0;
    font-size: 13px;
    line-height: 16px;
    margin: -5px 0 0;

    span, a {
      display: inline-block;
      padding: 10px;
    }

    a {
      color: #868686;
    }
    a:hover {
      color: #abb927;
    }
  }

  .hr {
    display: block;
    height: 1px;
    width: 70%;
    margin: 0 auto 20px;
    background-image:    -webkit-linear-gradient(left, rgba(220,202,160,0.1), rgba(220,202,160,1), rgba(220,202,160,0.1));
    background-image:    -moz-linear-gradient(left, rgba(220,202,160,0.1), rgba(220,202,160,1), rgba(220,202,160,0.1));
    background-image:    -ms-linear-gradient(left, rgba(220,202,160,0), rgba(220,202,160,1), rgba(220,202,160,0.1));
    background-image:    -o-linear-gradient(left, rgba(220,202,160,0), rgba(220,202,160,1), rgba(220,202,160,0.1));
  }
}

.nav_buttons {
    position: fixed;
    right: 0px;
    top: 30%;
    margin: -42px 0;
    z-index: 50;
    width: 60px;
    background-color: white;
    border: 3px white;
    @include border-radius(6px);

    .nav_link {
      position: relative;
      width: 70px;
      height: 54px;
      font-size: 18px;
      line-height: 22px;
      color: #7b7f95;
      display: block;
      text-align: center;
      outline: none;
      margin: 8px 0;
      @include transition(all, 0.1s, linear);
      padding-top: 5px;
    }

    svg{
      // padding-top: 10px;
    }
    .nav_link:hover, .nav_link:focus, .nav_link.focus {
        background-color: #042618;
        border: 1px solid #dccaa0;
        @include border-radius(6px);
        right: 6px;
        padding-top: 5px;
        svg{
            fill:#dccaa0;

        }
    }
}

#map {
  height: 480px;
}

.mobile_header {
    background: #042618;
    position: relative;
    z-index: 10;
    height: 50px;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    -ms-transition: all 400ms;
    transition: all 400ms;
    margin: 0px 0 0;
    img{
      height: 50px;
    }
  .form-control {
    background-color: #000;
    opacity: .2;
    border: none;
    padding-left: 30px;
    padding-right: 0;
  }
}


@media (max-width: 480px){
  #wrapper.toggled #sidebar-wrapper{
    width: 0;
  }
  .hamburger{
    display: none;
  }
  .logo{
    float: left;
  }


  .mobile_header .hamburger{
    display: block;
    float: right;
    z-index: 9999;
    width: 30px;
    height: 30px;
    margin: 0;
  }
}